* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(241, 242, 244, 1.00);
    font-family: inter_regular, fallback-inter_regular, Arial, sans-serif;
    transition: 0.3;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #b8b5b5;
}

.body-container {
    width: 100%;
    height: 100%;
}

:root {
    --bg-color: rgba(241, 242, 244, 1.00);
    --bg2-color: #fff;
    --textcolor: #333;
    --iconcolor: #8c8a8a;
}

.nav-bar-container {
    width: 100%;
    height: 67px;
    background-color: var(--bg2-color);
    display: flex;
    justify-content: center;
}

span {
    width: 10px;
    height: 10px;
}

.nav-item-main {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 28px 12px 28px;
}

.nav-item1 {
    width: 65%;
    display: flex;
}

#nav-logo1 {
    margin-right: 35px;
}

#nav-item2 #nav-item2-container i {
    position: absolute;
    top: 10px;
    left: 14px;
    font-size: 1.2rem;
}

.nav-item2 {
    width: 35%;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
}

#nav-item2 {
    width: 100%;
    align-content: center;
    text-align: center;
}

.nav-item2 .nav-item2-d-login:hover {
    background-color: blue;
    color: var(--bg2-color);
}

.nav-item2-d-login .fa-regular {
    margin-right: 5px;
    font-size: 1.2rem;
    vertical-align: middle;
}

#nav-item2-container {
    width: 100%;
    border: 1px solid black;
    text-align: left;
    background-color: rgb(239, 240, 242);
    border-radius: 9px;
    border: none;
    position: relative;
}

#nav-item2-container>input {
    width: 80%;
    padding: 10px 8px 10px 40px;
    border: none;
    outline: none;
    background-color: rgb(239, 240, 242);
    font-size: 17px;
    border-radius: 9px;
    font-size: 1.1rem;
}

.s {
    vertical-align: middle;
    font-size: 1rem;
}

.nav-item2 .item2-a .nav-item2-d-login {
    width: 100px;
    height: 40px;
    align-content: center;
    border-radius: 9px;
    border: none;
    text-align: center;
}

.item2-a {
    text-decoration: none;
    color: black;
    padding: 0 20px 0 20px;
}

.nav-item2-d>img {
    margin: 0 5px 0 0;
    vertical-align: middle;
    color: white;
}

#down {
    vertical-align: text-top;
    font-size: 10px;
}

.nav-item2-d-login>img {
    margin: 0 5px 0 0;
    vertical-align: middle;
}

.drop-con1 {
    width: 40px;
    height: 40px;
    align-content: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    right: 48px;
    top: 15px;
    cursor: pointer;
}

.drop-con2>a {
    text-decoration: none;
    color: black;
}

.drop-con2:hover {
    padding: 10px;
    border: 1px solid #e0dfdf;
    border-radius: 9px;
    background-color: #f8f5f5;
}

/* hero-section1 */

.content-d {
    width: 100%;
}

.inner-content-d {
    width: 98%;
    margin: auto;
}

.section1-container1 {
    width: 100%;
    min-height: 130px;
    background-color: rgba(241, 242, 244, 1.00);
    margin-top: 10px;
}

.sec1-container2 {
    /* width: 98%; */
    min-height: 130px;
    background-color: var(--bg2-color);
    /* margin: auto; */
    display: flex;
    align-content: center;
    justify-content: center;
}

.sec1-container3 {
    /* max-width: 80%; */
    display: flex;
    align-items: center;

}

.box-1 {
    /* width: 102px; */
    /* height: 100px; */
    margin-right: 40px;
    text-align: center;
}

.box-2 {
    /* width: 150px; */
    text-align: center;
    margin-right: 40px;
}

.content-box {
    width: 80px;
    /* height: 80px; */
    text-align: center;
    margin-bottom: 5px;
}

.content-box-2 {
    /* width: 100px; */
    /* height: 80px; */
    text-align: center;
    margin-bottom: 5px;
}

.sec1-container3 .box-1 .d1 i {
    font-size: 0.8rem;
}

.sec1-container3 .box-2 .d1 i {
    font-size: 0.8rem;
}

.sec1-container3 .box-1 img,
.box-2 img {
    width: 65px;
}

.sec1-container3 .box-1 .d1 span {
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: capitalize;
}

.sec1-container3 .box-2 .d1 span {
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: capitalize;
}

.sec1-container3 .box-1 a {
    text-decoration: none;
    color: var(--textcolor);
}

.sec1-container3 .box-2 a {
    text-decoration: none;
    color: var(--textcolor);
}

.sec1-container3 .box-1 .d1-h i {
    font-size: 0.8rem;
}

.sec1-container3 .box-2 .d1-h i {
    font-size: 0.8rem;
}

.sec1-container3 .box-1 .d1-h span {
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: capitalize;
}

.sec1-container3 .box-2 .d1-h span {
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: capitalize;
}

.d1-h:hover {
    color: #2370f4;
}

.box-1 .d1-h i:hover,
.box-2 .d1-h i:hover {
    animation: rotate 2s 1;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(-180deg);
    }
}

/* hero section2 */

.section2-container {
    margin-top: 13px;
}

.sec2-container .content img {
    background-repeat: no-repeat;
    background-size: cover;
}

.content img {
    width: 100%;
    position: relative;
}

.content {
    position: relative;
}

.sec2-container2 .content .btn-1 {
    width: 40px;
    height: 83px;
    background-color: var(--textcolor);
    position: absolute;
    left: 0;
    top: 85px;
    background-color: var(--bg2-color);
    border: none;
    border-radius: 0 9px 9px 0;
}

.sec2-container2 .content .btn-2 {
    width: 40px;
    height: 83px;
    background-color: black;
    position: absolute;
    right: 0;
    top: 85px;
    background-color: var(--bg2-color);
    border: none;
    border-radius: 9px 0 0 9px;
}

.btn-2 {
    width: 40px;
    height: 83px;
    background-color: black;
    position: absolute;
    right: 0;
    top: 110px;
    background-color: var(--bg2-color);
    border: none;
    border-radius: 9px 0 0 9px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .12);
}

.sec2-container2 .content .btn-1 i,
.btn-2 i {
    color: var(--iconcolor);
}

/* mid section */

.mid-section {
    width: 81%;
    height: 350px;
    background-color: var(--bg2-color);
    /* position: relative; */
    margin-top: 13px;
}

.mid-content {
    width: 100%;
    /* display: flex; */
    justify-content: space-between;
    /* padding: 16px; */
    /* position: relative; */
}

.mid-section .mid-content span {
    font-size: large;
    /* width: 50%; */
    /* position: absolute; */
    right: 0;
}

.mid-section .mid-section-container .container {
    display: flex;
    padding: 20px;
}

.mid-section-container {
    position: relative;
}

.boxes-container {
    width: 100%;
    display: flex;
    gap: 15px;
    margin: auto;
    padding: 6px;
    position: relative;
}

.boxes-container .box img {
    width: 180px;
    height: 186px;
    object-fit: contain;
    background-repeat: no-repeat;
    /* background-color: var(--bg2-color); */
    margin: 0 0 15px 0;
}

.box {
    width: 195px;
    height: 260px;
    background-color: var(--bg2-color);
    text-align: center;
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 6px;
}

.box-last {
    width: 150px;
    height: 260px;
    background-color: var(--bg2-color);
    text-align: center;
    border: 1px solid gainsboro;
    border-radius: 5px 0 0 5px;
    padding: 6px;
    border-right: none;
}

.box-last img {
    width: 186px;
    height: 186px;
    object-fit: contain;
    background-repeat: no-repeat;
    /* background-color: var(--bg2-color); */
    margin: 0 0 15px 0;
}

.box p,
.box-last p {
    font-size: 0.9rem;
    text-transform: capitalize;
    color: var(--textcolor);
    line-height: 17px;

}

.box span,
.box-last span {
    font-size: 0.9rem;
    text-transform: capitalize;
    font-weight: bolder;
}

.mid-section-container a,
.mid-section-container-p2 a {
    text-decoration: none;
    color: #212121;
}

.container {
    position: relative;
}

.container .mid-content span {
    text-transform: capitalize;
    font-size: larger;
    font-weight: 600;
}

.mid-section .mid-section-container .box img:hover,
.mid-section-p2 .mid-section-container-p2 .boxes-container .box img:hover {
    transform: scale(1.02);
}

.mid-section-container .boxes-container .box-last img:hover,
.mid-section-container-p2 .boxes-container .box-last2 img:hover {
    transform: scale(1.02);
}

/* mid section part2 */

.mid-content2 {
    position: absolute;
    right: 2%;
    width: 25px;
    height: 25px;
    /* border: 1px solid black; */
    border-radius: 50%;
    text-align: center;
    align-content: center;
    background-color: #2370f4;
    color: var(--bg2-color);
}

.mid-content2 i {
    font-size: 0.8rem;
}

.mid-box2 {
    position: absolute;
    right: -283px;
    top: -8px;
}

.mid-box2 img {
    width: 265px;
    height: 364px;
}

.mid-section-p2 {
    width: 100%;
    height: 350px;
    background-color: var(--bg2-color);
    /* position: relative; */
    margin-top: 13px;
}

.mid-section-p2 .mid-content span {
    font-size: large;
    /* width: 50%; */
    /* position: absolute; */
    right: 0;
}

.mid-section-p2 .mid-section-container-p2 .container {
    display: flex;
    padding: 20px;
}

.mid-section-container-p2 {
    position: relative;
}

.mid-section-p2 .mid-section-container-p2 .boxes-container {
    gap: 20px;
}

.box-last2 {
    width: 193px;
    height: 260px;
    background-color: var(--bg2-color);
    text-align: center;
    border: 1px solid gainsboro;
    border-radius: 5px 0 0 5px;
    padding: 6px;
    border-right: none;
}

.box-last2 img {
    width: 186px;
    height: 186px;
    object-fit: contain;
    background-repeat: no-repeat;
    /* background-color: var(--bg2-color); */
    margin: 0 0 15px 0;
}

.box p,
.box-last2 p {
    font-size: 0.9rem;
    text-transform: capitalize;
    color: var(--textcolor);
    line-height: 17px;

}

.box span,
.box-last2 span {
    font-size: 0.9rem;
    text-transform: capitalize;
    font-weight: bolder;
}

.p2-btn-2 {
    width: 40px;
    height: 83px;
    background-color: black;
    position: absolute;
    right: 0;
    top: 160px;
    background-color: var(--bg2-color);
    border: none;
    border-radius: 9px 0 0 9px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .12);
}

.p2-btn-2 i {
    color: var(--iconcolor);
}

/* mid section part3 */

.mid-section-boxes {
    width: 100%;
    /* height: 670px; */
    margin-top: 13px;
    /* background-color: var(--bg2-color); */
}

.mid-section-boxes .mid-section-box-con .img-main-con {
    justify-content: center;
}

.mid-section-boxes .img-container {
    display: flex;

}

.mid-section-boxes .mid-section-box-con {
    width: 100%;
    display: flex;
    gap: 13px;
}

.container2 {
    width: 100px;
    height: 500px;
    background-color: #333;
}

.mid-section-boxes .mid-section-box-con .content1 {
    width: 35%;
    height: 670px;
    /* height: 100%; */
    background-color: var(--bg2-color);
}

.mid-section-boxes .mid-section-box-con .content1 .img-main-con {
    width: 100%;
}

.imgBx {
    min-width: 225px;
    min-height: 290px;
    background-color: var(--bg2-color);
    text-align: center;
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 8px;
    margin: 5px;
}

.mid-section-boxes .mid-section-box-con .content1 .img-main-con .img-container {
    justify-content: center;
}

.mid-section-box-con .content1 .container {
    display: flex;
    padding: 20px;
}

.mid-section-boxes .mid-section-box-con .content1 .container .mid-content {
    width: 100%;
    /* display: flex; */
    justify-content: space-between;
    /* padding: 16px; */
    /* position: relative; */
}

.imgBx img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    background-repeat: no-repeat;
    /* background-color: var(--bg2-color); */
    margin: 0 0 20px 0;
}

.mid-section-boxes .content1 .img-main-con .img-container .imgBx .tex {
    text-align: left;
    text-transform: capitalize;
    color: var(--textcolor);
    font-size: 1rem;
    padding: 2px 0 0 0;
    margin-left: 2px;
}

.img-main-con .img-container .imgBx .tex span {
    color: #108934;
    font-size: 1.1rem;
    font-weight: 600;
}

.mid-section-boxes .content1 .img-main-con .img-container img:hover {
    transform: scale(1.02);
}

.content1 .img-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.content1 .img-container .img-box {
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
    /* background-size: cover; */
}

.content1 .img-container .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.content1 .img-container .text-container1 {
    position: absolute;
    top: 50px;
    left: 20px;
}

.content1 .img-container .text-container2 {
    position: absolute;
    top: 106px;
    left: 20px;
}

.content1 .img-container .text-container3 {
    position: absolute;
    top: 150px;
    left: 20px;
}

/* .content1 .img-container .text-container1{
    width: 500px;
    height: 500px;
}  */
.content1 .img-container .text-container1 p {
    font-size: 1.2rem;
    font-weight: 600;
    color: #FCFAEE;
    text-transform: capitalize;
}

.content1 .img-container .text-container2 p {
    font-size: 0.6rem;
    text-transform: capitalize;
    color: #ffe440;
}

.content1 .img-container .text-container3 {
    width: 110px;
    height: 30px;
    background-color: #FCFAEE;
    text-align: center;
    align-content: center;
    border-radius: 5px;
    transition: .2s;
}

.content1 .img-container .text-container3 a {
    text-decoration: none;
    background-color: #FCFAEE;
    color: #212121;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: capitalize;
    padding: 5px;
}

.content1 .img-container .text-container3 a i {
    font-size: 0.9rem;
    margin-left: 5px;
}

.content1 .img-container .text-container3:hover {
    transform: scale(1.03);
    box-shadow: 5px 5px 5px black;
}

/*  midsection-part2  */

.midsec-p2-container {
    width: 100%;
    background-color: #f5f5f5;
    margin: 25px 0 30px 0;
}

.midsec-p2-container .midsec-container2 {
    width: 98%;
    margin: auto;
}

.midsec-p2-container .midsec-container2 .heading-container {
    margin: 35px 0 0 0;
    padding: 50px 0 20px 0;
    font-size: 1.1rem;
    color: #565656;
    text-transform: capitalize;
    font-weight: 600;
}

.midsec-p2-container .midsec-container2 .heading-container a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #565656;
}

.midsec-p2-container .midsec-container2 .link-box span {
    font-size: 0.9rem;
    color: #565656;
    text-transform: uppercase;
    margin-right: 5px;
}

.midsec-p2-container .midsec-container2 .link-box a {
    text-decoration: none;
    color: #565656;
    font-size: 0.8rem;
    border-right: 1px solid black;
    padding: 0 5px 0 0;
    line-height: 20px;
}

.midsec-p2-container .midsec-container2 .link-box {
    margin-bottom: 10px;
}

.mid-sec-p3 .heading-container2 {
    padding: 60px 0 0 0;
}

.mid-sec-p3 .heading-container2 h1 {
    font-size: 1.2rem;
    text-transform: capitalize;
    color: #878787;
    margin-bottom: 10px;
}

.mid-sec-p3 .heading-container2 p {
    font-size: 0.8rem;
    color: #878787;
    line-height: 1.4;
}

.mid-sec-p3 .heading-container2 h2 {
    font-size: 1rem;
    color: #878787;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.mid-sec-p3 .heading-container2 a {
    text-decoration: none;
}

/* footer */

.footer {
    width: 100%;
    background-color: #212121;
}

.footer .footer-container .ft-con1 {
    display: flex;
    justify-content: space-between;
    padding: 40px 60px 0;
}

.footer .footer-container .ft-con1 .con1-bx1 .title {
    font-size: 12px;
    color: #878787;
    text-transform: uppercase;
    margin: 0 0 12px 0;
}

.footer .footer-container .ft-con1 .con1-bx1 ul li {
    list-style: none;
    font-size: 0.7rem;
    font-weight: 600;
    text-transform: capitalize;
    padding: 0 0 3px 0;
}

.footer .footer-container .ft-con1 .con1-bx1 a {
    text-decoration: none;
    color: #FFFFFF;
}

.footer .footer-container .ft-con1 p {
    color: #FFFFFF;
    font-size: 0.7rem;
    font-weight: 600;
    padding: 0 0 3px 0;
    text-transform: capitalize;
}

.footer .footer-container .ft-con1 .con1-bx2 .title-soc,
.title2 {
    font-size: 12px;
    color: #878787;
    text-transform: capitalize;
    margin: 12px 0 12px 0;
}

.footer .footer-container .ft-con1 .con1-bx3 .title2 {
    font-size: 0.8rem;
    color: #878787;
    text-transform: capitalize;
    margin: 0 0 12px 0;
}

.footer .footer-container .ft-con1 .con1-bx2 {
    border-left: 1px solid #454d5e;
    padding: 0 0 0 32px;
}

.footer .footer-container .ft-con1 .con1-bx2 .icon-bx a {
    margin-right: 5px;
    text-decoration: none;
}

.footer .footer-container .ft-con1 .con1-bx1 ul li:hover {
    text-decoration: underline;
}

.footer .footer-container2 {
    width: 100%;
    height: 70px;
    border-top: 1px solid #454d5e;
    margin: 40px 0 0 0;
    align-content: center;
}

.footer .footer-container2 .foot2-content {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    text-transform: capitalize;
    font-size: 12px;
}

.footer .footer-container2 .foot2-content .svg-container {
    font-size: 0.7rem;
    display: flex;
    align-items: center;
}

.footer .footer-container2 .foot2-content .svg-container div {
    margin-left: 6px;
}

.footer .footer-container2 .foot2-content a {
    text-decoration: none;
    color: #FFFFFF;
}